html {
    background-color: teal;
}

.container {
    margin-top: 20%;
}

.title {
    color: greenyellow;
    text-align: center;
}

a {
    color: greenyellow;
    text-decoration: none;
}

p {
    text-align: center;
}

.vertical-middle {
    vertical-align: middle;
}